<div *ngIf="tasks?.length > 0; else noTasks">
    <ul *ngFor="let task of tasks" class="collection">
        <li class="collection-item"><strong>{{ task.titulo }}</strong> : {{ task.descricao }}
            <div class="secondary-content">
                <a href="#" (click)="deleteTask(task)"><i class="fa fa-trash"></i></a>
                <a href="#" (click)="editTask(task)"><i class="fa fa-pencil"></i></a>
                <div *ngIf="editState && taskEdit.id == task.id">
                    <form (ngSubmit)="updateTask(task)">
                        <div class="row">
                            <div class="input-field col s6">
                                <input type="text" name="titulo" placeholder="Novo título" [(ngModel)]="task.titulo">
                            </div>
                            <div class="input-field col s6">
                                <input type="text" name="descricao" placeholder="Nova descrição" [(ngModel)]="task.descricao">
                            </div>
                            <input type="submit" value="Editar" class="btn blue">
                        </div>
                    </form>
                </div>
            </div>
        </li>
    </ul>
</div>

<ng-template #noTasks>
    <h5>Ainda não há tarefas.</h5>
</ng-template>
